<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176601583368-3oestvto930l800l8cnnu6e755fku3sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176601583368-3oestvto930l800l8cnnu6e755fku3sh</string>
	<key>API_KEY</key>
	<string>AIzaSyD6YqDFFIk6HXiwfIFlDAzKA5A-RaisDu4</string>
	<key>GCM_SENDER_ID</key>
	<string>176601583368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malwarebytes.Malwarebytes</string>
	<key>PROJECT_ID</key>
	<string>mb-for-ios-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>mb-for-ios-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176601583368:ios:196db971e8029f5c7be6bd</string>
	<key>DATABASE_URL</key>
	<string>https://mb-for-ios-staging.firebaseio.com</string>
</dict>
</plist>